{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Отмена</a>
    </li>
{% endblock %}

{% block content %}
    <h1 id="main-center">Вы уверены, что хотите удалить запись?</h1>
    <div class="card my-4" style="width: 18rem">
        <img class="photo" src="{{ product.img }}">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}
            <i><h6 class="card-category">{{ product.get_category_display }}</h6></i>
            <hr/>
            <p class="card-text px-2">{{ product.description }}</p>
            <hr/>
            <p class="price">Цена: {{ product.price }}</p>
            <p class="price">Остаток: {{ product.amount }}</p>
        </div>
    </div>
    <form action="{% url "delete" product.pk %}" method="post">
        {% csrf_token %}
        <p><input id="delete-button" type="submit" value="Да" id="submit"></p>
        <p><a id="delete-button-2" href="{% url 'index' %}">Нет</a></p>
    </form>
{% endblock %}